body{
	font-size: 16px; /*1em*/
	margin: 0px auto;
	/*Es requerimiento del cliente*/
	max-width: 1440px;
	min-width: 1440px;
	font-family: 'Catamaran', sans-serif;
	/*background: #2B2B2B;*/
}
header{
	background: #F0EBEB;
}
header input{
	background-color: #E5DCDC;
	height: 40px;
	float: left;
	margin-top: 8px;
	margin-left: 70px;
	width: 160px;
	border-radius: 3px;
	position: relative;

}
section nav ul li {
	list-style-type: none;
	color: white;
	font-style: italic;
	font-size: 1em;
	/*text-decoration: underline;*/
	padding-bottom: 5px;
	left: 20px;
	padding-left: 40px;
	
}
#menu{
	padding-top: 2px;
	height: 56px;
	padding-left: 84px;
	margin-bottom: 30px;
	position: relative;

}
#logo{
	width: 200px;
	position: relative;
}
#primerseccion{
	padding-bottom: 30px;
	padding-top: 25px;
	background: #2B2B2B;
}
#primerseccion article{
	display: inline-block;
	vertical-align: top;
	width: 230px;
	height: 280px;
	padding-top: 30px;
	padding-right: 10px;
	padding-left: 10px; 
	padding-bottom: 40px;
	margin-left: -7px;

}
#segundaseccion img{
	width: 300px;

}
#segundaseccion {
	padding-top: 30px;
	border-top: 1px solid gray;
	background: #2B2B2B;
}

#segundaseccion article{
	border-bottom: 1px dashed gray;
	display: inline-block;
	vertical-align: top;
	padding-left: 65px;
	padding-top: 4px;
	display: table-cell;
	justify-content: center;

}
#irojo{
	padding:  15px;
}
#iverde{
	padding: 15px;
}
#iclaro{
	padding: 15px;
}
#logomenu{
	margin-right: 75px;
}
#secc01art01{
	background: rgb(180,208,82);
	color: white;
}
#secc01art02{
	color: white;
	background: rgb(84,84,84);
}
#secc01art03{
	background: rgb(212,45,63);
	color: white;
}
#secc01art04{
	background: rgb(228,228,228);
	color: gray;
}
/*section article*/
.letragrande{
	font-size: 1.7em;
}
.letramediana{
	font-size: 1.4em;
}
.nito{
	font-weight: bold; /*negritas*/
}
.colorgris{
	color: #B4B0B0;
}
.colorblanco{
	color: #FCFFFF;
}
