body{
    font-size: 16px;
    margin: 0px auto;
    background: white;
    color: #848484;
    max-width: 1150px;
    min-width: 1150px;
    font-family: sans-serif;
    /* border: 5px solid rgb(199, 19, 19);   */
}

header nav lu li{
	color:black;
	display: inline-block;
    font-size: 1.2em;
    font-weight: 900;
    margin-right: 10px;
    margin-top: 60px;
    margin-left: 15px;

}
footer section article lu{
    top: 20px;
   
}

#seccionDos article lu li {
    font-size: 1.2em;
    scroll-padding-right: 15px;
    list-style: none;
   
}

#linea{
    border-top: 2px dashed grey;
    padding: 10px;
}
#logorojo{
    width: 35px;
    float: right;    
}
#bandera{
    width: 35px;
    float: right;
}
#mundo{
    width: 35px;
    float: right;
}
#goto{
    position: relative;
   width: 200px;
    top: 45px;
    left: 600px;
}
#buy{
    position: relative;
    width: 60px;
    top: 100px;
    left: 350px;
}
#bici{
    width:430px;
}
#years{
    position: relative;
    top: -90px;
}
 #art1{
    display:  inline-block;
    width: 59%;
}
 #art2{
    position: relative;
    width: 38%;
    height: 560px; 
    float: right;
}  
#seccionPrimera
{
    display:inline-block;
}
#seccionDos article{
    display: inline-block;
    vertical-align: top;
    width: 19%;
    
}
#video1{
    width: 320px;
}
#video2{
    width: 320px;
    float: right;
}
#redes{
    position: relative;
    top: 15px;
}
.tituloDefooter{
    font-size: 1.1em;
    font-weight: bold;
}
.letragrandenito{
    color: black;
    font-size: 5em;
    font-weight: 700;
}
.letragrandeVerde{
    font-size: 5em;
    font-weight: 700;
    color: #73f33d;
}
.letramediana{
    font-size: 1.2em;
    font-weight: bold;
    
}