article{
	border-radius: 5px;
	height: 50px;
	margin-top: 10px;
	text-align:center;
	width: 150px;
}
#uno{
	/*Si no soporta gradientes*/
	background: red;
	/*Opera*/
	background: -o-linear-gradient(rgba(255,0,0,1),rgba(255,255,0,1),blue);	
	/*Safari*/
	background: -webkit-linear-gradient(rgba(255,0,0,1),rgba(255,255,0,1),blue);	
	/*Mozilla Firefox*/
	background: -moz-linear-gradient(rgba(255,0,0,1),rgba(255,255,0,1),blue);	
	/*Edge - Internet Explorer*/
	background: -ms-linear-gradient(rgba(255,0,0,1),rgba(255,255,0,1),blue);	
	/*Para todos los navegadores*/
	background: linear-gradient(rgba(255,0,0,1),rgba(255,255,0,1),blue);
}
#dos{
	/*Si no soporta gradientes*/
	background: red;
	/*Opera*/
	background: -o-linear-gradient(to left,red,yellow, blue);	
	/*Safari*/
	background: -webkit-linear-gradient(to left,red,yellow, blue);	
	/*Mozilla Firefox*/
	background: -moz-linear-gradient(to left,red,yellow, blue);	
	/*Edge - Internet Explorer*/
	background: -ms-linear-gradient(to left,red,yellow, blue);	
	/*Para todos los navegadores*/
	background: linear-gradient(to left,red,yellow, blue);
}
#tres{
	/*Si no soporta gradientes*/
	background: red;
	/*Opera*/
	background: -o-linear-gradient(to right,red,yellow,blue);	
	/*Safari*/
	background: -webkit-linear-gradient(to right,red,yellow,blue);	
	/*Mozilla Firefox*/
	background: -moz-linear-gradient(to right,red,yellow,blue);	
	/*Edge - Internet Explorer*/
	background: -ms-linear-gradient(to right,red,yellow,blue);	
	/*Para todos los navegadores*/
	background: linear-gradient(to right,red,yellow,blue);
}
#cuatro{
	/*Si no soporta gradientes*/
	background: red;
	/*Opera*/
	background: -o-linear-gradient(to  right bottom,red,yellow,blue);	
	/*Safari*/
	background: -webkit-linear-gradient(to  right bottom,red,yellow,blue);	
	/*Mozilla Firefox*/
	background: -moz-linear-gradient(to  right bottom,red,yellow,blue);	
	/*Edge - Internet Explorer*/
	background: -ms-linear-gradient(to  right bottom,red,yellow,blue);	
	/*Para todos los navegadores*/
	background: linear-gradient(to  right bottom,red,yellow,blue);
}
#cinco{
	/*Si no soporta gradientes*/
	background: red;
	/*Opera*/
	background: -o-linear-gradient(to  left bottom,red,yellow,blue);	
	/*Safari*/
	background: -webkit-linear-gradient(to  left bottom,red,yellow,blue);	
	/*Mozilla Firefox*/
	background: -moz-linear-gradient(to  left bottom,red,yellow,blue);	
	/*Edge - Internet Explorer*/
	background: -ms-linear-gradient(to  left bottom,red,yellow,blue);	
	/*Para todos los navegadores*/
	background: linear-gradient(to  left bottom,red,yellow,blue,);
}
#seis{
	/*Si no soporta gradientes*/
	background: red;
	/*Opera*/
	background: -o-linear-gradient(70deg,red,yellow,blue);	
	/*Safari*/
	background: -webkit-linear-gradient(70deg,red,yellow,blue);	
	/*Mozilla Firefox*/
	background: -moz-linear-gradient(70deg,red,yellow,blue);	
	/*Edge - Internet Explorer*/
	background: -ms-linear-gradient(70deg,red,yellow,blue);	
	/*Para todos los navegadores*/
	background: linear-gradient(70deg,red,yellow,blue);
}
#siete{
	/*Si no soporta gradientes*/
	background: red;
	/*Opera*/
	background: -o-repeating-linear-gradient(90deg,black,white,black 3%);	
	/*Safari*/
	background: -webkit-repeating-linear-gradient(90deg,black,white,black 3%);	
	/*Mozilla Firefox*/
	background: -moz-repeating-linear-gradient(90deg,black,white,black 3%);	
	/*Edge - Internet Explorer*/
	background: -ms-repeating-linear-gradient(90deg,black,white,black 3%);	
	/*Para todos los navegadores*/
	background: repeating-linear-gradient(90deg,black,white,black 3%);
}
.texto{
	position: relative;
	top:15px;

}